{% extends "layout.njk" %}

{% block content %}

    <div class="card">

        <section 
        class="avatar" 
        style="background: url(http://fakeimg.pl/800x800?text=teacher&font=lobster) no-repeat center / cover">
        
        </section>

        <section class="details">
        
        <h3>Detalhes</h3>

        <div class="item">
            <div>Professor</div>
            <div>Jorge Augusto</div>
        </div>

        <div class="item">
            <div>Idade</div>
            <div>28</div>
        </div>

        <div class="item">
            <div>Sexo</div>
            <div>Masculino</div>
        </div>

        <div class="item">
            <div>Grau de Escolaridade</div>
            <div>Pós-Graduação</div>
        </div>

        <div class="item">
            <div>Tipo de Aula</div>
            <div>À distância</div>
        </div>

        <div class="item">
            <div>Acompanhamento</div>
            <div>
            <span>Informática</span>
            <span>Redes de Computadores</span>
            </div>
        </div>

        <div class="item">
            <div>Desde</div>
            <div>20/02/2020</div>
        </div>
        </section>

    </div>

{% endblock content %}